#clientWhite {
    height: 450px;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
    position: absolute;
    top: 300px;

}


.clientImage {
    box-sizing: border-box;
        padding: 25% 25% 25% 25%;
    height: 100%;
    width: 100%;
    margin: auto;

    img{
    margin: auto;
    width:100%;
    }
}

.clientBox {
    float: left;
    box-sizing: border-box;
    outline: 1px solid #cccccc;
    margin: 1%;
    width: 23% !important;
    height: 48%;
    background-color: $white;
}

.halfBox {
    float: left;
    box-sizing: border-box;
    outline: 1px solid #cccccc;
    margin: 1%;
    width: 48% !important;
    height: 48% !important;
    background-color: $dark;
}


.clientHead {
    padding: 50px 0 0 100px;
    box-sizing: border-box;   
color: $white;
font-size: 25px;
font-family: Effra_Std_Rg;
width: 100%;
}

.clientBody {
    padding: 15px 0 0 100px;
    width: 100%;
    color: $white;
    font-family: Effra_Std_Rg;
}


#fifthLogo {
    width: 100%;
    padding-top: 20px;

}

#chhnLogo {
    width: 100%;
    padding-top: 20px;

}

#chsLogo {
    width: 100%;
    padding-top:10px;

}

#skanskaLogo {

    width: 100%;
    padding-top: 30px;

}

#rackLogo {
    width: 100%;
    padding-top:0px;

}

#pngLogo {
    width: 100%;
    padding-top:20px;

}



@media (max-width: 600px) {

    #clientWhite {
        height: 400px;
        z-index: 1;
        margin-left: 2%;
        margin-right: 2%;
        padding-bottom: 100px;
        position: absolute;
        top: 550px;
    }

    .halfBox {
        outline: 0;
        margin: auto;
        height: 200px !important;
        width: 100% !important;
        background-color: $dark;
    }

    .clientHead {
        padding: 20px 0;

        background-color: $dark;  
    color: $white;
    font-size: 20px;
    font-family: Effra_Std_Rg;
    width: 100%;
    text-align: center;
    }

    .clientBody {
        width: 100%;
        background-color: $dark;
        color: $white;
        font-family: Effra_Std_Rg;
        text-align: center;
        font-size: 13px;
        padding: 0;
    }

    .clientBox {
        float: left;
        box-sizing: border-box;
        outline: 1px solid #cccccc;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 10px;
        width: 100% !important;
        height: 80px;
        background-color: $white;
    }

    .clientImage {
        box-sizing: border-box;
            padding: 0;
        height: 90%;
        width: 70%;
        margin: auto;
    
        img{
        text-align: center;
        margin: auto;
        width: 100%;
        padding-top:10px;
        height: 60px;
        }
    }

    #fifthLogo {
        width: 80%;
        padding-top:10px;

    }

    #chhnLogo {
        width: 80%;
        height: 50px;
        padding-top:10px;

    }

    #chsLogo {
        width: 80%;
        padding-top:10px;

    }

    #skanskaLogo {
        height: 35px;
        width: 80%;
        padding-top:20px;

    }

    #rackLogo {
        width: 40%;
        padding-top:10px;

    }

    #pngLogo {
        
        width: 65%;
        padding-top:10px;

    }

}