#footer {
    height: 30px;
    background-color: darken($gray, 15%);
    padding: 20px 40px;
    font-family: Effra_Std_Rg;
}



.icons {
    
    padding-right: 10px;
    float: right;
}

.socialTags {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 600px) {
    #footer {
        margin-top: 560px;
        height: 60px;
        background-color: darken($gray, 15%);
        font-family: Effra_Std_Rg;
        font-size: 10px;
    }

    .footCard {
        background-color: darken($gray, 15%);
        width: 100%;

    }
    
    
    
    .icons {
        width: 100%;
        padding-top: 10px;
        padding-right: 10px;
        float: none;
        text-align: center;
    }
    
    .socialTags {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}