#hero {
	background: url("../assets/images/pic-hero-min.png") no-repeat center; 
    height: 480px;
    background-size: cover;
font-family: Effra_Std_Bd;
color: $white;
}

#cardLogo {
    padding: 30px 0 0 60px;
}

#heroText {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
}


@media (max-width: 600px) {
    #hero {
        background: url("../assets/images/pic-hero-min.png") no-repeat center; 
        height: 300px;
    font-family: Effra_Std_Bd;
    color: $white;
    width: 100%;
    }

    #cardLogo {
        padding: 50px 0 0 60px;
        text-align: center;
    }
    
    #heroText {
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
        line-height: 50px;
    }
    }
