$white:       #ffffff;
$darkblue:    #022933;
$yellow:      #FFBA00;
$blue:        #0076A3;
$green:       #548C27;
$orange:      #F39856;
$red:         #D14348;
$purple:      #6D73C2;
$gray:        #efefef;
$dark:        #383d49;
$default:     #c5c5c5;



@font-face {
    font-family: Effra_Std_Rg;
    src: url("../assets/fonts/Effra_Std_Rg.ttf");
}
@font-face {
    font-family: Effra_Std_Lt;
    src: url("../assets/fonts/Effra_Std_Lt.ttf");
}

@font-face {
    font-family: Effra_Std_Bd;
    src: url("../assets/fonts/Effra_Std_Bd.ttf");
}

@font-face {
    font-family: Effra_Std_Md;
    src: url("../assets/fonts/Effra_Std_Md.ttf");
}